/* Varuables */

:root {
  --basic-white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.9);
  --transparent-text: rgba(255, 255, 255, 0.3);
  --sky-blue: #81B3D2;
  --blue: #669EC0;
  --extra-blue: #5496BD;
  --light-bronze: #766357;
  --bronze: #604E43;
  --dark-bronze: #503E33;
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-gray: #EEEEEE;
  --basic-light-gray: #F2F2F2;
  --dark-gray: #666666;
  --canyon:  #A6D2F0;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0 40px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-light-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin:-1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main Navigation */

.main-navigation {
  position: relative;
  display: grid;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--basic-white);
}

/* logo */

.main-header-logo {
  position: absolute;
  justify-self: center;
  width: 138px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding-top: 0;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 16px;
  list-style: none;
}

.site-navigation li{
  padding-top: 14px;
}

.site-navigation li:nth-child(1){
   margin-right: 135px;
}

.site-navigation li:nth-child(2){
  margin-right: 418px;
}

.site-navigation li:nth-child(3){
  margin-right: 147px;
}

.site-navigation li:nth-child(n+5){
  padding-top: 32px;
}

.site-navigation-link{
  color: var(--basic-black);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--sky-blue);
}

.site-navigation-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.selected {
  color: var(--light-bronze);
}

/* Main */

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-content {
  display: grid;
}

/* Slogan */

.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  background-color: var(--canyon);
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom, bottom;
}

.slogan-pic {
  padding-top: 76px;
  padding-bottom: 81px;
}

/* Main-title */

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 42px 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
}


/* Advantages */

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.advantages-main-title {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 52px;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  background-color: var(--basic-white);
}

.advantages-list,
.real-town-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

}

.advantages-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-title,
.real-town-title {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.real-town-title {
  padding-top: 160px;
}

.blue-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  color: var(--basic-white);
  background-color: var(--sky-blue);
}

.blue-block-title {
  margin: 0;
  padding: 0;
  color: var(--basic-white);
}

.real-town-list {
  display: flex;
  flex-wrap: wrap;
}

.real-town-item {
  width: 400px;
}

.real-town {
  background-color: var(--basic-white);
}

.bridge {
  order: -1;
}

.without-img {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: var(--basic-gray);
}

/* Hotel Search */

.searcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-white);
}

.interested {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-black);
}

.hotel-search-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--light-bronze);
}

.hotel-search-link:hover,
.hotel-search-link:focus {
  background-color: var(--bronze);
}

.hotel-search-link:active {
  background-color: var(--dark-bronze);
  color: var(--transparent-text);
}

/* Main footer */

.footer-wrapper{
  position: relative;
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 40px;
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--transparent-white);
  color: var(--basic-black);
}

.footer-tel{
  color: var(--basic-black);
}

.footer-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  list-style: none;
}

.social-button {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  width: 46px;
  height: 46px;
  background-color: var(--sky-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--blue);
}

.social-button:active {
  background-color: var(--extra-blue);
}

.social-button svg {
  fill: var(--basic-white);
}

.social-button:active svg {
  fill: var(--transparent-text)
}

.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-black);
}

.developer a {
  padding-left: 8px;
}

.developer svg:hover path {
  fill: var(--sky-blue);
}

.developer svg:active path {
  fill: #bdbbbc;
}

/* Main hotels */

/* forms */
.forms {
  width: 1200px;
  background-image: url("../img/background-hotel.jpg");
  background-color: var(--canyon);

}

/* sort */

.sort {
  display: flex;
  align-items: center;
  background-color: var(--basic-white);
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.sort-result {
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-result-list {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-result-link {
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-result-link:hover,
.sort-result-link:focus {
  color: var(--sky-blue);
}

.sort-result-link:active {
  color: var(--basic-black);
  opacity: 1;
}

.active {
  color: var(--sky-blue);
}

.sort-button-wrapper {
   margin-left: auto;
}

/* Presents hotels */

.presents-hotels {
  background-color: var(--basic-white);
}

.presents-hotels-list {
  list-style: none;
}

.presents-hotels-item {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "pic title title star-pic"
    "pic hotel-text hotel-text star-pic"
    "pic detailed booking rating";
}

.hotel-title {
  grid-area: title;
}

.hotel-pic {
  grid-area: pic;
  align-self: center;
  justify-self: center;
}

.hotel-text {
  grid-area: hotel-text;
}

.presents-hotels-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.presents-hotels-link:hover,
.presents-hotels-link:focus {
  color: var(--sky-blue);
}

.presents-hotels-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel-detailed {
  grid-area: detailed;
  align-self: center;
  font-weight: bold;
  background-color: var(--sky-blue);
  color: var(--basic-white);
}

.hotel-detailed:hover,
.hotel-detailed:focus {
  background-color: var(--blue);
}

.hotel-detailed:active {
  background-color: var(--extra-blue);
  color: var(--transparent-text);
}

.hotel-booking{
  grid-area: booking;
  align-self: center;
  font-weight: bold;
  background-color: var(--light-bronze);
  color: var(--basic-white);
}

.hotel-booking:hover,
.hotel-booking:focus {
  background-color: var(--bronze);
}

.hotel-booking:active {
  background-color: var(--dark-bronze);
  color: var(--transparent-text);
}

.star-pic {
  grid-area: star-pic;
  justify-self: end;
}

.rating {
  grid-area: rating;
  justify-self: end;
  align-self: center;
  background-color: var(--basic-light-gray);
  color: var(--dark-gray);
}

/* Hotel footer */

.hotel-footer {
  background-color: var(--basic-white);
}
