/* Varuables */

:root {
  --basic-white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.9);
  --transparent-text: rgba(255, 255, 255, 0.3);
  --sky-blue: #81B3D2;
  --blue: #669EC0;
  --extra-blue: #5496BD;
  --light-bronze: #766357;
  --bronze: #604E43;
  --dark-bronze: #503E33;
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-gray: #EEEEEE;
  --basic-light-gray: #F2F2F2;
  --dark-gray: #666666;
  --canyon:  #A6D2F0;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0 40px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-light-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin:-1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main Navigation */

.main-navigation {
  position: relative;
  display: grid;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--basic-white);
}

/* logo */

.main-header-logo {
  position: absolute;
  justify-self: center;
  width: 138px;
}

.site-navigation {
  display: grid;
  grid-template-columns: 229px 516px auto auto;
  justify-items: flex-start;
  align-items: flex-start;
  margin: 0;
  padding-top: 0;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 16px;
  list-style: none;
}

.site-navigation li{
  padding-top: 14px;
}

.site-navigation li:nth-child(4n) {
  justify-self: flex-end;
}

.site-navigation-link{
  color: var(--basic-black);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--sky-blue);
}

.site-navigation-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.selected {
  color: var(--light-bronze);
}

/* Main */

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-content {
  display: grid;
}

/* Slogan */

.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  background-color: var(--canyon);
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom, bottom;
}

.slogan-pic {
  padding-top: 76px;
  padding-bottom: 81px;
}

/* Main-title */

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding-top: 43px;
  padding-bottom: 41px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
}


/* Advantages */

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.advantages-main-title {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 52px;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  background-color: var(--basic-white);
}

.advantages-list,
.real-town-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-title,
.real-town-title {
  width: 151px;
  text-align: center;
  margin: 0;
  margin-top: 49px;
  font-size: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.blue-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  background-color: var(--sky-blue);
  color: var(--basic-white);
}

.blue-block-title {
  color: var(--basic-white);
}

.item-number {
  margin-top: 25px;
}

.blue-block p {
  margin: 0;
  margin-top: 26px;
  width: 301px;
}

.real-town-list {
  display: flex;
  flex-wrap: wrap;
}

.real-town-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.real-town-title {
  padding-top: 160px;
  position: relative;
  margin: 0;
  margin-bottom: 25px;
}

.housing::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 39px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 40px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.souvenirs::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 44px;
  width: 75px;
  height: 77px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.real-town-item p {
  width: 280px;
  margin: 0;
  margin-bottom: 82px;
}

.real-town {
  background-color: var(--basic-white);
}

.bridge {
  order: -1;
}

.without-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: var(--basic-gray);
}

.without-img p {
  width: 261px;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 54px;
}

/* Hotel Search */

.searcher {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-white);
}

.interested {
  margin: 0;
  margin-top: 58px;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-black);
}

.searcher-explanation {
  width: 435px;
  text-align: center;
  line-height: 24px;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 45px;
}

.hotel-search-link {
  width: 290px;
  padding-top: 30px;
  padding-bottom: 31px;
  padding-left: 139px;
  padding-right: 139px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--light-bronze);
  display: block;
}

.hotel-search-link:hover,
.hotel-search-link:focus {
  background-color: var(--bronze);
}

.hotel-search-link:active {
  background-color: var(--dark-bronze);
  color: var(--transparent-text);
}

/* Form */

.hotel-search {
  position: absolute;
  bottom: -395px;
  left: 316px;
  justify-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 568px;
  background-color: var(--basic-white);
}

.hotel-search label,
.hotel-search input {
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
}

.date-of-arrival {
  position: relative;
  margin-top: 55px;
  margin-bottom: 29px;
  margin-left: 55px;
}

.date-of-departure {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 55px;
}

.date-of-arrival input {
  width: 334px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 0;
  margin-left: 21px;
  border: none;
  background-color: var(--basic-light-gray);
}

.date-of-departure input {
  width: 334px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 0px;
  margin-left: 17px;
  border: none;
  background-color: var(--basic-light-gray);
}

.button-calendar {
  position: absolute;
  top: 7px;
  left: 422px;
  width: 21px;
  height: 23px;
  background-color: transparent;
  border: none;
}

.button-calendar:hover svg,
.button-calendar:focus svg {
  fill: var(--basic-black);
}

.button-calendar:active svg {
  fill: var(--sky-blue);
}

.adults {
  position: relative;
  margin-top: 0;
  margin-bottom: 55px;
  margin-left: 54px;
  margin-right: 20px;
}

.adults input {
  width: 114px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 38px;
  margin-right: 33px;
  text-align: center;
  border: none;
  background-color: var(--basic-light-gray);
}

.adults .minus {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 122px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.minus::after {
  content: "";
  position: absolute;
  bottom: 9px;
  left: 4px;
  width: 12px;
  height: 2.54px;
  background-color: #a9a9a9;
}

.adults .plus {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 6px;
  left: 195px;
  border: none;
  background-color: transparent;
}

.plus::before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 11px;
  width: 2.54px;
  height: 11px;
  background-color: #a9a9a9;
}

.plus::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 7px;
  width: 11px;
  height: 2.54px;
  background-color: #a9a9a9;
}

.children {
  position: relative;
  margin-top: 0;
  margin-left: 0px;
  margin-bottom: 20px;
}

.children input {
  width: 114px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 23px;
  text-align: center;
  border: none;
  background-color: var(--basic-light-gray);
}

.children .minus {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 7px;
  left: 72px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.children .plus {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 6px;
  left: 146px;
  border: none;
  background-color: transparent;
}

.find {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 195px;
  padding-right: 196px;
  margin-left: 55px;
  margin-bottom: 55px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--sky-blue);
  border: none;
}

.find:hover,
.find:focus {
  background-color: var(--blue);
}

.find:active {
  background-color: var(--extra-blue);
  color: var(--transparent-text);
}

/* Map */

/* Main footer */

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--transparent-white);
  color: var(--basic-black);
}

.main-footer {
  position: relative;
  bottom: 127px;
}

.footer-contacts {
  margin-left: 73px;
  text-align: center;
}

.footer-tel a {
  color: var(--basic-black);
}

.hashtag {
  margin-top: 23px;
  margin-bottom: 9px;
}

.footer-tel {
  margin-top: 0;
  margin-bottom: 38px;
}

.footer-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: 5px;
}

.social-button {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  width: 46px;
  height: 46px;
  background-color: var(--sky-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--blue);
}

.social-button:active {
  background-color: var(--extra-blue);
}

.social-button svg {
  fill: var(--basic-white);
}

.social-button:active svg {
  fill: var(--transparent-text)
}

.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 73px;
  margin-top: 17px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-black);
}

.developer a {
  padding-left: 8px;
  margin-top: 2px;
}

.developer svg:hover path {
  fill: var(--sky-blue);
}

.developer svg:active path {
  fill: #bdbbbc;
}

/* Main hotels */

/* forms */
.forms {
  width: 1200px;
  color: var(--basic-white);
  background-image: url("../img/background-hotel.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--canyon);
}

.hotel-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hotel-filter legend {
  font-style: 16px;
  font-weight: bold;
}

/* sort */

.sort {
  display: flex;
  align-items: center;
  background-color: var(--basic-white);
}

.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.sort-result {
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-result-list {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sort-result-link {
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-result-link:hover,
.sort-result-link:focus {
  color: var(--sky-blue);
}

.sort-result-link:active {
  color: var(--basic-black);
  opacity: 1;
}

.active {
  color: var(--sky-blue);
}

.sort-button-wrapper {
   margin-left: auto;
}

/* Presents hotels */

.presents-hotels {
  background-color: var(--basic-white);
}

.presents-hotels-list {
  list-style: none;
}

.presents-hotels-item {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "pic title title star-pic"
    "pic hotel-text hotel-text star-pic"
    "pic detailed booking rating";
}

.hotel-title {
  grid-area: title;
}

.hotel-pic {
  grid-area: pic;
  align-self: center;
  justify-self: center;
}

.hotel-text {
  grid-area: hotel-text;
}

.presents-hotels-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.presents-hotels-link:hover,
.presents-hotels-link:focus {
  color: var(--sky-blue);
}

.presents-hotels-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel-detailed {
  grid-area: detailed;
  align-self: center;
  font-weight: bold;
  background-color: var(--sky-blue);
  color: var(--basic-white);
}

.hotel-detailed:hover,
.hotel-detailed:focus {
  background-color: var(--blue);
}

.hotel-detailed:active {
  background-color: var(--extra-blue);
  color: var(--transparent-text);
}

.hotel-booking{
  grid-area: booking;
  align-self: center;
  font-weight: bold;
  background-color: var(--light-bronze);
  color: var(--basic-white);
}

.hotel-booking:hover,
.hotel-booking:focus {
  background-color: var(--bronze);
}

.hotel-booking:active {
  background-color: var(--dark-bronze);
  color: var(--transparent-text);
}

.star-pic {
  grid-area: star-pic;
  justify-self: end;
}

.rating {
  grid-area: rating;
  justify-self: end;
  align-self: center;
  background-color: var(--basic-light-gray);
  color: var(--dark-gray);
}

/* Hotel footer */

.hotel-footer {
  background-color: var(--basic-white);
}
